# Dependencies
/node_modules

# Testing
/coverage

# Production
/build

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Lint cache
.eslintcache
